.App {
  width: 100%;
  height: 100%;
}
Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-player-container{
  background-color: #000;
  width: 640px;
  height: 360px;
  margin: 0 auto;
  border-radius: 8px;
}

.app-layout{
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
}
