.App {
  width: 100%;
  height: 100%;
}
Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-layout{
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
}
