.time-line{
  width: 100%;
}
.effect-item-video{
  text-align: center;
  color: #fff;
  line-height: 80px;
}

.effect-item-audio{
  text-align: center;
  color: #fff;
  background-color: #0ed930;
  padding: 4px 8px;
  border-radius: 4px;
}
